In [4]:
#!pip install urllib3
import pandas as pd
import requests
import json
import numpy as np

In [5]:
filepath = r"C:\Users\danie\Desktop\WBS.DataScience_Bootcamp\Week_6_Webscraping_API\EU_Top_30_cities_airports.csv"
EU_top30_airports = pd.read_csv(filepath, sep = ",")
EU = EU_top30_airports.copy()

In [9]:
EU.head(2)

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon,localCode
0,EDDB,BER,"Berlin, Berlin Brandenburg",Brandenburg,Berlin,DE,52.35139,13.493889,NaN
1,LEMD,MAD,"Madrid, Adolfo Suárez Madrid–Barajas",Adolfo Suárez –Barajas,Madrid,ES,40.49360,-3.566760,NaN

In [6]:
def icao(cities):
    EU_icao = []
    for i in range(len(airport.icao)):
        EU_icao.append(airport.icao[i])
    return EU_icao

In [8]:
airport = EU.head(2)
airport_icao = icao(airport)
airport_icao

['EDDB', 'LEMD']

In [95]:
date = "2023-02-11"
time = "10:00"
datetime = (pd.to_datetime(date + " " + time) + pd.to_timedelta("12:00:00")).strftime("%Y-%m-%dT%H:%M")

In [97]:
import requests

DF_list = []
for i in airport_icao:
	try:

		url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{i}/{date}T{time}/{datetime}"

		querystring = {"withLeg":"true","direction":"Arrival","withCancelled":"true","withCodeshared":"true","withCargo":"false","withPrivate":"false","withLocation":"false"}

		headers = {
			"X-RapidAPI-Key": #"aerodatabox-API-key",
			"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
		}

		response = requests.request("GET", url, headers=headers, params=querystring)

		print(response)
		AD = pd.json_normalize(response.json().get("arrivals"))
		arrival_icao = []
		for n in range(len(AD)):
			arrival_icao.append(i)
		AD.insert(loc = 0,
          	column = 'Arrival_ICAO',
          	value = arrival_icao)
		AD = AD[["Arrival_ICAO", "number", "departure.airport.name", "arrival.scheduledTimeLocal", "aircraft.model", "airline.name"]]
		DF_list.append(AD)
	
	except:
		continue
Top_30_EU_Arriving_flights = pd.concat(DF_list, ignore_index=True)
Top_30_EU_Arriving_flights

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [204]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

,Arrival_ICAO,number,departure.airport.name,arrival.scheduledTimeLocal,aircraft.model,airline.name
0,EDDB,A3 820,Athens,2023-02-11 10:50+01:00,Airbus A320,Aegean
1,EDDB,FH 1285,Antalya,2023-02-11 10:40+01:00,Airbus A320,Freebird
2,EDDB,FR 2788,London,2023-02-11 10:45+01:00,Boeing 737-800,Ryanair
3,EDDB,FR 3312,Bergamo,2023-02-11 10:30+01:00,Boeing 737-800,Ryanair
4,EDDB,IB 3676,Madrid,2023-02-11 10:50+01:00,Airbus A321,Iberia
...,...,...,...,...,...,...
8134,EETN,FR 4380,Beauvais/Tillé,2023-02-11 10:40+02:00,Boeing 737-800,Ryanair
8135,EETN,AY 1013,Helsinki,2023-02-11 10:10+02:00,ATR 72,Finnair
8136,EETN,LX 1318,Zurich,2023-02-11 20:50+02:00,Airbus A220-300,SWISS
8137,EETN,AY 1031,Helsinki,2023-02-11 21:40+02:00,ATR 72,Finnair
8138,EETN,W9 5109,London,2023-02-11 21:10+02:00,Airbus A320,Wizz Air UK

In [98]:
Top_30_EU_Arriving_flights.to_csv("Top_30_EU_cities_Arrivals.csv", index=False)

In [65]:
arrivals = response.json().get("arrivals")
type(arrivals)

list

In [85]:
arrivals = pd.json_normalize(arrivals)
arrivals

,number,status,codeshareStatus,isCargo,departure.airport.icao,departure.airport.iata,departure.airport.name,departure.scheduledTimeLocal,departure.actualTimeLocal,departure.scheduledTimeUtc,...,aircraft.model,airline.name,airline.iata,airline.icao,departure.terminal,departure.checkInDesk,departure.gate,callSign,aircraft.reg,aircraft.modeS
0,A9 651,Expected,IsOperator,False,UGTB,TBS,Tbilisi,2023-02-11 07:00+04:00,2023-02-11 07:00+04:00,2023-02-11 03:00Z,...,Boeing 737-800,Georgian Airways,A9,TGZ,NaN,NaN,NaN,NaN,NaN,NaN
1,AF 1240,Expected,IsOperator,False,LFPG,CDG,Paris,2023-02-11 07:10+01:00,NaN,2023-02-11 06:10Z,...,Airbus A321,Air France,AF,AFR,2F,NaN,NaN,NaN,NaN,NaN
2,AF 3126,Expected,IsCodeshared,False,VOBL,BLR,Bangalore,NaN,NaN,NaN,...,Boeing 777-200,Air France,AF,AFR,NaN,NaN,NaN,NaN,NaN,NaN
3,AF 3641,Expected,IsCodeshared,False,KATL,ATL,Atlanta,NaN,NaN,NaN,...,Airbus A330-300,Air France,AF,AFR,NaN,NaN,NaN,NaN,NaN,NaN
4,AF 5132,Expected,IsCodeshared,False,EGNM,LBA,Leeds,NaN,NaN,NaN,...,Embraer 175,Air France,AF,AFR,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351,MF 9998,Expected,IsCodeshared,False,EIDW,DUB,Dublin,2023-02-11 17:20+00:00,2023-02-11 17:20+00:00,2023-02-11 17:20Z,...,Boeing 737-700 (winglets),Xiamen,MF,CXA,1,1006-1010,307A,NaN,NaN,NaN
1352,MU 1632,Expected,IsCodeshared,False,EGPF,GLA,Glasgow,NaN,NaN,NaN,...,Embraer 190,China Eastern,MU,CES,NaN,NaN,NaN,NaN,NaN,NaN
1353,WA 1066,Expected,IsCodeshared,False,EGFF,CWL,Cardiff,NaN,NaN,NaN,...,Embraer 175,KLM Cityhopper,WA,KLC,NaN,NaN,NaN,NaN,NaN,NaN
1354,VS 7066,Expected,IsCodeshared,False,EGPF,GLA,Glasgow,NaN,NaN,NaN,...,Embraer 190,Virgin Atlantic,VS,VIR,NaN,NaN,NaN,NaN,NaN,NaN
1355,WY 5452,Expected,IsCodeshared,False,LFPG,CDG,Paris,NaN,NaN,NaN,...,Boeing 737-800 (winglets),Oman Air,WY,OMA,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
arrivals.insert(loc = 0,
          column = 'arrival_ICAO',
          value = "EHAM")
arrivals

TypeError: list.insert() takes no keyword arguments

In [66]:
arrivals[3]

{'departure': {'airport': {'icao': 'KATL', 'iata': 'ATL', 'name': 'Atlanta'},
  'quality': []},
 'arrival': {'scheduledTimeLocal': '2023-02-11 08:15+01:00',
  'actualTimeLocal': '2023-02-11 08:07+01:00',
  'runwayTimeLocal': '2023-02-11 08:07+01:00',
  'scheduledTimeUtc': '2023-02-11 07:15Z',
  'actualTimeUtc': '2023-02-11 07:07Z',
  'runwayTimeUtc': '2023-02-11 07:07Z',
  'quality': ['Basic', 'Live']},
 'number': 'AF 3641',
 'status': 'Expected',
 'codeshareStatus': 'IsCodeshared',
 'isCargo': False,
 'aircraft': {'model': 'Airbus A330-300'},
 'airline': {'name': 'Air France', 'iata': 'AF', 'icao': 'AFR'}}

In [74]:
arrivals_lst = []

In [75]:
arrivals_lst.append(pd.json_normalize(arrivals))
test = pd.concat(arrivals_lst, ignore_index=True)
test

,number,status,codeshareStatus,isCargo,departure.airport.icao,departure.airport.iata,departure.airport.name,departure.scheduledTimeLocal,departure.actualTimeLocal,departure.scheduledTimeUtc,...,aircraft.model,airline.name,airline.iata,airline.icao,departure.terminal,departure.checkInDesk,departure.gate,callSign,aircraft.reg,aircraft.modeS
0,A9 651,Expected,IsOperator,False,UGTB,TBS,Tbilisi,2023-02-11 07:00+04:00,2023-02-11 07:00+04:00,2023-02-11 03:00Z,...,Boeing 737-800,Georgian Airways,A9,TGZ,NaN,NaN,NaN,NaN,NaN,NaN
1,AF 1240,Expected,IsOperator,False,LFPG,CDG,Paris,2023-02-11 07:10+01:00,NaN,2023-02-11 06:10Z,...,Airbus A321,Air France,AF,AFR,2F,NaN,NaN,NaN,NaN,NaN
2,AF 3126,Expected,IsCodeshared,False,VOBL,BLR,Bangalore,NaN,NaN,NaN,...,Boeing 777-200,Air France,AF,AFR,NaN,NaN,NaN,NaN,NaN,NaN
3,AF 3641,Expected,IsCodeshared,False,KATL,ATL,Atlanta,NaN,NaN,NaN,...,Airbus A330-300,Air France,AF,AFR,NaN,NaN,NaN,NaN,NaN,NaN
4,AF 5132,Expected,IsCodeshared,False,EGNM,LBA,Leeds,NaN,NaN,NaN,...,Embraer 175,Air France,AF,AFR,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351,MF 9998,Expected,IsCodeshared,False,EIDW,DUB,Dublin,2023-02-11 17:20+00:00,2023-02-11 17:20+00:00,2023-02-11 17:20Z,...,Boeing 737-700 (winglets),Xiamen,MF,CXA,1,1006-1010,307A,NaN,NaN,NaN
1352,MU 1632,Expected,IsCodeshared,False,EGPF,GLA,Glasgow,NaN,NaN,NaN,...,Embraer 190,China Eastern,MU,CES,NaN,NaN,NaN,NaN,NaN,NaN
1353,WA 1066,Expected,IsCodeshared,False,EGFF,CWL,Cardiff,NaN,NaN,NaN,...,Embraer 175,KLM Cityhopper,WA,KLC,NaN,NaN,NaN,NaN,NaN,NaN
1354,VS 7066,Expected,IsCodeshared,False,EGPF,GLA,Glasgow,NaN,NaN,NaN,...,Embraer 190,Virgin Atlantic,VS,VIR,NaN,NaN,NaN,NaN,NaN,NaN
1355,WY 5452,Expected,IsCodeshared,False,LFPG,CDG,Paris,NaN,NaN,NaN,...,Boeing 737-800 (winglets),Oman Air,WY,OMA,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
test = test[["departure.airport.name", "arrival.scheduledTimeLocal", "aircraft.model", "airline.name"]]

In [83]:
arrival_ICAO = []
for i in range(len(test)):
    arrival_ICAO.append("EHAM")
len(arrival_ICAO)

1356

In [84]:
test.insert(loc = 0,
          column = 'arrival_ICAO',
          value = arrival_ICAO)
test

,arrival_ICAO,departure.airport.name,arrival.scheduledTimeLocal,aircraft.model,airline.name
0,EHAM,Tbilisi,2023-02-11 08:30+01:00,Boeing 737-800,Georgian Airways
1,EHAM,Paris,2023-02-11 08:35+01:00,Airbus A321,Air France
2,EHAM,Bangalore,2023-02-11 08:15+01:00,Boeing 777-200,Air France
3,EHAM,Atlanta,2023-02-11 08:15+01:00,Airbus A330-300,Air France
4,EHAM,Leeds,2023-02-11 08:20+01:00,Embraer 175,Air France
...,...,...,...,...,...
1351,EHAM,Dublin,2023-02-11 20:05+01:00,Boeing 737-700 (winglets),Xiamen
1352,EHAM,Glasgow,2023-02-11 20:00+01:00,Embraer 190,China Eastern
1353,EHAM,Cardiff,2023-02-11 19:30+01:00,Embraer 175,KLM Cityhopper
1354,EHAM,Glasgow,2023-02-11 20:00+01:00,Embraer 190,Virgin Atlantic
1355,EHAM,Paris,2023-02-11 20:00+01:00,Boeing 737-800 (winglets),Oman Air

## not tested yet (due to limitation on API-calls)

In [2]:
import requests

def incoming_flights(cities):
	DF_list = []
	date = "2023-02-15"
	time = "10:00"
	datetime = (pd.to_datetime(date + " " + time) + pd.to_timedelta("12:00:00")).strftime("%Y-%m-%dT%H:%M")
	for i in airport_icao:
		try:
			url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{i}/{date}T{time}/{datetime}"

			querystring = {"withLeg":"true","direction":"Arrival","withCancelled":"true","withCodeshared":"true","withCargo":"false","withPrivate":"false","withLocation":"false"}

			headers = {
				"X-RapidAPI-Key": #"aerodatabox-API-key",
				"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
            }

			response = requests.request("GET", url, headers=headers, params=querystring)

			print(response)
			AD = pd.json_normalize(response.json().get("arrivals"))
			arrival_icao = []
			for n in range(len(AD)):
				arrival_icao.append(i)
			AD.insert(loc = 0,
          		column = 'ICAO',
          		value = arrival_icao)
			AD = AD[["ICAO", "number", "departure.airport.name", "arrival.scheduledTimeLocal", "aircraft.model", "airline.name"]]
			AD = AD.rename(columns={"number": "Flight_Number", "departure.airport.name": "Departure", "arrival.scheduledTimeLocal": "scheduled_arrival", "aircraft.model": "Aircraft", "airline.name": "Airline" })
			arrival_date_time = []
			for i in AD.scheduled_arrival:
				x = (str(i)).split(" ")
				arrival_date_time.append(x[0]+" "+(x[1][0:5])+":00")
			AD["Arrival"] = pd.to_datetime(arrival_date_time)
			AD = AD.drop("scheduled_arrival", axis=1)
			DF_list.append(AD)
		except:
			continue
	arrivals = pd.concat(DF_list, ignore_index=True)
	return arrivals